            {% extends 'video/base.html' %}
            {% block title %}Album Details{% endblock %}
            {% block body %}
                    <div class="text-center">
                                        <h1>Your All {{ album.album_title }} Album Videos</h1>
                                        <p></p>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12" >
                                     {% if error_message %}
                                        <p><strong>{{ error_message }}</strong></p>
                                    {% endif %}
                                {% for video in album.videos_set.all  %}
                                   <div class="col-lg-3 col-sm-12 col-md-4 panel panel-default">
                                       <p><center><b>{{ video.video_title }}</b></center></p>
                             <div class="video_poster">
                                 <video controls poster="{{ video.video_thumbnail.url }}">
                                        <source src="{{ video.video.url }}" type="video/mp4">
                                </video>
                                 <div>
                                    <div class="img_logo"><a href="{% url 'video:detail' album.id %}"><img class="img-circle img-responsive" src="{{ album.album_logo.url }}"></a></div>
                                    {{ video.video_title }}
                                </div>
                             </div>

                                    {% comment %}<a href="{{ accounts.accounts.url }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                        </button>
                                    </a>{% endcomment %}
                            </div>
                        {% endfor %}
                                </div>
                            </div>
                        </div>































































                {% comment %}

                <div class="songs">




                </div>{% endcomment %}
            {% endblock %}





























                {% comment %}form action="{% url 'accounts:favourite' album.id %}" method="post">
                {% csrf_token %}
                {% for song in album.songs_set.all  %}
                    //<input type="radio" id="song{{forloop.counter }}" name="song" value="{{ song.id }}">
                    <label for="song{{ forloop.counter }}">
                    {{ song.song_title  }}
                    {% if song.is_fav %}
                        ****
                    {% endif %}
                    </label><br>
                {% endfor %}
                    <input type="submit" value="Favourite">
            </form>{% endcomment %}

